
#n1{
	color:white;
	padding:30px 100px 30px 450px; 
	border-style:solid;
	border-width:3px;
	border-color:black;
background-color:black; }
#n2{
	color:white;
	padding:30px 100px 30px 450px;
	border-style:solid;
	border-width:3px;
	border-color:black;
background-color:black;}
#n3{
	color:white;
	padding:30px 100px 30px 450px;
	border-style:solid;
	border-width:3px;
	border-color:black;
background-color:black;}
#n4{
	color:white;
	padding:30px 100px 30px 450px;
	border-style:solid;
	border-width:3px;
	border-color:black;
background-color:black;}
#n5{
	color:white;
	padding:30px 100px 30px 450px;
	border-style:solid;
	border-width:3px;
	border-color:black;
background-color:black;}
#n{
	color:white;
	padding:30px 100px 30px 450px;
	border-style:solid;
	border-width:3px;
	border-color:black;
background-color:black;}
#a1{
	color:white;

	border-style:solid;
	border-width:3px;
	border-color:black;
background-color:black;}
#a2{
	color:white;

	border-style:solid;

	border-color:black;
background-color:black;}
#a3{
	color:white;

	border-style:solid;

	border-color:black;
background-color:black;}
#a4{
	color:white;

	border-style:solid;

	border-color:black;
background-color:black;}
#a5{
	color:white;
	border-style:solid;

	border-color:black;
background-color:black;}